@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700&display=swap');
@import url("https://use.typekit.net/ppl1krb.css");

:root {
  --blue: #3535E5;
  --white: #ffffff;
  --opal: #ef6461;
  --light-blue: #add9f4;
  --mint: #f3f8f2;
  --gray: gray;
  --background-gray: rgba(241, 245, 249, 1);
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3rem;
}

.custom-btn {
  border: none;
  padding: 15px 30px;
  font-family: 'Mulish', sans-serif;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  background: linear-gradient(transparent,rgba(0, 0, 0, 0.1)) top/100% 800%;
}

.custom-btn:hover {
  background-position: bottom;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.input-themed {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  padding: 1.2rem;
  background-color: var(--background-gray);
  border: none;
  width: 100%;
  box-sizing: border-box; 
  border-radius: 0.2rem;
}

.input-themed:focus {
  outline: none;
}

.hidden {
  display: none;
}