.navbar-wrapper {
    width: 100%;
    position: fixed;
    z-index: 1;
    transition-duration: 0.3s;
}

.navbar-wrapper.translucent {
    background-color: rgba(256, 256,256, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px)
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2rem;
    width: 100%;
    max-width: calc(1400px + 4rem);
    box-sizing: border-box;
    margin: 0 auto;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    transition-duration: 0.5s;
}

.nav-bar a:hover {
    color: var(--blue);
}

.nav-bar img {
    height: 2rem;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
}

.special-btn {
    background: linear-gradient(133deg,#d1aad7,#c88bc4 25%,#7b8fdd 50%,#86bff2 74.87%,#bbdef2 99.88%) top/100% 800%;;
    background-color: var(--light-blue);
    padding: 10px 20px;
    border-radius: 25px;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.special-btn:hover {
    background-position: bottom;
}

@media screen and (max-width: 540px) {
    .logo-small {
        display: block !important;
        height: 3rem !important;
    }

    .logo-full {
        display: none;
    }

    .links {
        display: none;
    }

    .menu-container {
        display: block !important;
    }

    .menu-container i {
        font-size: 2rem;
        cursor: pointer;
    }

    .links {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        padding: 150px 2rem;
        box-sizing: border-box;
        font-size: 2rem !important;
        row-gap: 1.5rem;
        text-align: center;
        z-index: 4;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    .from-right {
        left: 100%;
    }

    #close-links {
        display: block !important;
        position: absolute;
        top: 20px;
        right: 2rem;
        color: var(--gray);
        font-size: 1.5rem;
        cursor: pointer;
    }

    .links button, .links a {
        width: 100%;
    }
}
