.hero-section {
    background-image: url('../../img/hero-image.jpg');
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0px);
    background-size: cover;
    background-position: top;
    padding: 2rem;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: stolzl, sans-serif;
}

.hero-section .main {
    width: 100%;
    max-width: 1400px;
    padding: 0;
    animation: 0.5s ease-out 0s 1 fadeInFromBottom;
}

.hero-section .hero-buttons {
    margin-top: 40px;
    display: flex;
    column-gap: 10px;
}

.our-customers {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    color: var(--white);
}

.our-customers ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.our-customers li {
    display: flex;
    justify-content: center;
}

.intro {
    padding: 100px 2rem;
}

.intro h2 {
    font-family: stolzl, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 0;
}

.intro p {
    font-size: 1rem;
    color: var(--gray);
}

.lottie-container {
    background: url("../../img/hero-image.jpg");
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
}

.call-to-action {
    padding: 100px;
    background-color: var(--blue);
    border-radius: 1rem;
    color: var(--white) !important;
    justify-content: space-between;
    margin-bottom: 100px;
}

.call-to-action h2 {
    font-size: 3rem;
    font-family: stolzl, sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

.call-to-action p {
    font-size: 1rem;
    margin: 0;
}

.call-to-action button {
    background-color: var(--light-blue);
    margin-top: 100px;
}

.process-container {
    height: 400vh;
    margin-bottom: 100px;
}

.process {
    background-color: var(--light-blue);
    height: calc(100vh - 60px - 2rem);
    padding-top: calc(60px + 2rem);
    position: sticky;
    top: 0;
}

.process h1 {
    text-align: center;
    font-size: 3rem;
    font-family: stolzl, sans-serif;
    color: var(--mint);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 3rem;
}

.process-item {
    padding: 30px;
    border-radius: 0.4rem;
}

.process-item.active {
    background-color: #6bb9ce;
    color: white;
}

.process-item h2 {
    font-size: 1.3rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    margin-top: 0;
}

.process-item p {
    font-size: 0.9rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}

.image-container div {
    height: 45vh;
    padding: 60px 0 60px 120px;
    background: url('../../img/hero-image.jpg');
    border-radius: 1rem;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2);
}

.image-container img {
    max-height: 100%;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
}

.image-container img.hidden-img {
    transform: translate(0, 20px);
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s, transform 0.3s;
}

@media screen and (max-width: 540px) {
    .hero-section h1 {
        font-size: 3rem;
    }

    .hero-section .hero-buttons {
        display: block;
    }

    .hero-section .hero-buttons a {
        width: 100%;
    }

    .hero-section .hero-buttons button {
        width: 100%;
    }

    .get-started {
        margin-top: 20px;
    }

    .intro.desktop-friendly {
        display: none !important;
    }

    .intro.mobile-friendly {
        display: block !important;
    }

    .intro.mobile-friendly h2 {
        font-size: 2.5rem;
    }

    .intro.mobile-friendly p {
        display: none;
    }

    .intro.mobile-friendly .lottie-container {
        margin-top: 20px;
        width: 100% !important;
        height: 400px !important;
        justify-content: center;
    }

    .intro.mobile-friendly .lottie-container div {
        width: 400px !important;
        height: 400px !important;
    }

    .intro.mobile-friendly .custom-btn, .into.mobile-friendly a {
        width: 100%;

    }

    .intro.mobile-friendly .custom-btn {
        margin-top: 20px !important;
    }

    .intro.mobile-friendly .card-container {
        margin-bottom: 80px;
    }

    .process-container.mobile-friendly {
        display: block !important;
        height: auto;
    }

    .process-container {
        display: none;
    }

    .process-container.mobile-friendly .process {
        height: auto;
        padding: 100px 2rem;
    }

    .process-container.mobile-friendly .process h1 {
        font-size: 2.5rem;
    }

    .process-container.mobile-friendly .process-item  {
        padding: 0;
        margin-bottom: 20px;
    }

    .process-container.mobile-friendly .image-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .process-container.mobile-friendly .image-holder main {
        width: 100%;
        height: 85%;
        position: relative;
    }

    .process-container.mobile-friendly .image-holder main img {
        height: 100%;
        position: absolute;
        right: 0;
    }

    .call-to-action {
        padding: 100px 2rem;
        display: block;
        text-align: center;
    }

    .call-to-action img {
        display: none;
    }

    .call-to-action button, .call-to-action a {
        width: 100%;
    }
}
